/* Buttons */
.link-arrow{
    display: inline-block;
    position: relative;
    font-family: $gotham;
    font-size: 9.5rem;
    font-weight: 700;
    line-height: 0.9;
    text-decoration: none;
    color: $grey;
    > span{
        display: inline-block;
        transition: transform .25s ease-in-out;
        span{
            color: $white;
        }
    }
	.icon{
        width: 0.545em;
        height: 0.275em;
        fill: $white;
	}
    .i1{
        margin-left: -0.1em;
        transition: transform .25s ease-in-out, opacity .35s ease-in-out;
    }
    .i2{
        position: absolute;
        top: 0.5em;
        left: -0.7em;
        bottom: 0;
        margin: 0;
        transform: translate3d(-100%, -50%, 0);
        opacity: 0;
        transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    }
    &:hover, &:focus{
        opacity: 0.8;
        .i1{
            transform: translate3d(100%, 0, 0);
            opacity: 0;
        }
        .i2{
            transform: translate3d(0, -50%, 0);
            transition-delay: .15s;
            opacity: 1;
        }
        span{
            transform: translate3d(0.5em, 0, 0);
            transition-delay: .1s;
        }
    }
}

@media (max-width: $desktop-small){
    .link-arrow{
        font-size: 7rem;
    }
}
@media (max-width: $tablet){
    .link-arrow{
        font-size: 4.5rem;
    }
}

