{% extends 'layout/layout.html.twig' %}

{% block body_class %}cuisiner{% endblock %}

{% block content %}
    <a href='#' class='hashtag lateral left'>#work<span>with</span>frenchies</a>
    <div class='lang lateral right'>
        <span class='non-active'>
            fr
        </span><span class='slash'>
            /
        </span><a href='#' title='US version'>
            us
        </a>
    </div>
    <div class='wrapper-baseline'>
        <div class='container'>
            <div class='visu'>
                <div class='rect-visu'></div>
                <img src='../img/illus-cuisiner.png'>
            </div>
            <div class='txt'>
                <h1>Seuls les frenchies savent <span>cuisiner</span></h1>
                <p>Autant dire que <strong>seuls les frenchies de Stéréosuper</strong> sauront transmettre votre image, travailler votre identité visuelle, designer votre site ou votre app. <span class='color-white'>#cqfd</span></p>
            </div>
        </div>
    </div>
    <div class='container refs'>
        <ul>
            <li class='reference'>
                <svg class='icon icon-alven'><use xlink:href='#icon-alven'></use></svg>
                <h3>le VC Alven Capital a levé 250 M€</h3>
                <p>Nous avons refondu leur site Internet en 2017</p>
            </li>
            <li class='reference'>
                <svg class='icon icon-alven'><use xlink:href='#icon-alven'></use></svg>
                <h3>Akeneo a levé 11 M€ en 2017</h3>
                <p>Nous avons refondu leur site Internet en 2016 puis 2017.</p>
            </li>
            <li class='reference'>
                <svg class='icon icon-ct'><use xlink:href='#icon-ct'></use></svg>
                <h3>Captain Train a été racheté 200 M€</h3>
                <p>Nous avons réfléchi à leur image et leur messages publicitaires en 2017</p>
            </li>
            <li class='reference'>
                <svg class='icon icon-beneteau'><use xlink:href='#icon-beneteau'></use></svg>
                <h3>Beneteau Group a un CA de 1,208 M€</h3>
                <p>Nous avons refondu leur site Internet en 2017</p>
            </li>
        </ul>
    </div>
{% endblock content %}
