{% extends 'layout/layout.html.twig' %}

{% block body_class %}cuisiner{% endblock %}

{% block content %}
    <div class='container'>
        <h1>Seuls les frenchies savent cuisiner</h1>
        <p>Autant dire que seuls les frenchies de Stéréosuper sauront transmettre votre image, travailler votre identité visuelle, designer votre site ou votre app. #cqfd</p>
    </div>
{% endblock content %}
