{% extends 'layout/layout.html.twig' %}

{% block body_class %}cuisiner{% endblock %}

{% block content %}
    <div class='wrapper-baseline'>
        <div class='container'>
            <h1>Seuls les frenchies savent <span>cuisiner</span></h1>
            <p>Autant dire que <strong>seuls les frenchies de Stéréosuper</strong> sauront transmettre votre image, travailler votre identité visuelle, designer votre site ou votre app. <span class='color-white'>#cqfd</span></p>
        </div>
    </div>
{% endblock content %}
