/******* GÉNÉRAL *******/

::-moz-selection{
    background: $grey;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $grey;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: auto;
}

body{
    @include elena(1.8em);
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $grey-dark;
    min-height: 100vh;
    background: #fff;
    &.off{
        html:not(.no-js) &{
            overflow: hidden;            
        }
    }
}
h1, h2, h3, h4, h5, h6{
    @include gotham-bold(1rem);
}

h1{
    margin: 0 0 0.25em;
    padding: 0;
    font-size: 7vw;
    letter-spacing: -0.08em;
    line-height: 0.85;
    color: $grey;
    text-rendering: optimizeLegibility;
    > span{
        color: $white;
    }
    .small{
        font-size: 2.4rem;
        letter-spacing: 0;
    }
    .no-space{
        white-space: nowrap;
    }
}

h2{
    font-size: 2.5rem;
    margin: 3.4em 0 0.8em;
}

h3{
    font-size: 2.2rem;
    margin: 1em 0;
}

h4{
    font-size: 2.2rem;
    margin: 1.33em 0;
}

h5{
    font-size: 2rem;
    margin: 1.67em 0;
}

h6{
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p{
    margin: 1em 0;
}

b, strong{
    font-family: $elenabold;
    font-weight: 400;
}

i, em{
    font-family: $elenaitalic;
    font-style: normal;
}

blockquote{
    margin: 1em 40px;
}

ol, ul{
    padding: 0;
    list-style: none;
}

ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:before{
            content: counter(ol-counter)'.';
        }
    }
}

dt, dd{
    display: inline;
    margin: 0;
}
dt{
    &:after{
        content: ': ';
    }
}
dd{
    + dt{
        &:before{
            content: '\A';
            white-space: pre;
        }
    }
    + dd{
        &:before{
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}


/******* LIENS / BOUTONS *******/

a{
    font-family: $elenabold;
    color: $white;
    transition: $transition;
    &:focus, &:hover{
        color: $white;
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: contrast(300%);
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix{
    @include clearfix;
}

.pos-relative{
    position: relative;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.full-width{
    width: 100%;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.color-white{
    color: $white;
}

@media (max-width: $desktop-small){
    h1{
        font-size: 5rem;
        .no-space{
            white-space: normal;
        }
    }
}
@media (max-width: $tablet){
    body{
        font-size: 1.6rem;
    }
    h1{
        font-size: 8.5rem;
    }
}
@media (max-width: $phone){
    body{
        font-size: 1.4rem;
    }
    h1{
        font-size: 6.5rem;
    }
}

@media (max-width: $phone-small){
    h1{
        font-size: 4rem;
    }
}
