@font-face{
    font-family: 'elenabold';
    src: url('../fonts/ElenaWebBasicBold.woff2') format('woff2'),
         url('../fonts/ElenaWebBasicBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'elenabolditalic';
    src: url('../fonts/ElenaWebBasicBoldItalic.woff2') format('woff2'),
         url('../fonts/ElenaWebBasicBoldItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'elena';
    src: url('../fonts/ElenaWebBasicRegular.woff2') format('woff2'),
         url('../fonts/ElenaWebBasicRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'elenaitalic';
    src: url('../fonts/ElenaWebBasicRegularItalic.woff2') format('woff2'),
         url('../fonts/ElenaWebBasicRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'carrosserie';
    src: url('../fonts/Carrosserie-Regular.woff2') format('woff2'),
         url('../fonts/Carrosserie-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'carrosseriemedium';
    src: url('../fonts/Carrosserie-Medium.woff2') format('woff2'),
         url('../fonts/Carrosserie-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'carrosseriebold';
    src: url('../fonts/Carrosserie-Bold.woff2') format('woff2'),
         url('../fonts/Carrosserie-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
