@each $theme, $map in $themes{
    $primary: map-get($map, primary);
    $primary-medium: map-get($map, primary-medium);
    $primary-dark: map-get($map, primary-dark);
    $secondary: map-get($map, secondary);
    $secondary-medium: map-get($map, secondary-medium);
    $secondary-dark: map-get($map, secondary-dark);

    .#{$theme}{
        background: $primary;
        .rect-visu{
            background: $secondary;
        }
        .hashtag{
            color: $primary-dark;
            &:hover, &:focus{
                color: $white;
                > span{
                    color: $primary-dark;
                }
            }
        }
        .lang{
            a, .slash{
                color: $primary-dark;
            }
            a{
                &:hover, &:focus{
                    color: $white;
                }
            }
        }
        .cover-title{
            color: $primary;
        }
        .cover-text{
            color: $secondary-dark;
        }
        .reference{
            &:nth-child(odd){
                h3, .icon{
                    color: $primary-medium;
                }
            }
            &:nth-child(even){
                > div {
                    background-color: $primary-medium;
                }
                h3, .icon{
                    color: $white;
                }
            }
        }
        .header-right{
            .active{
                .icon{
                    fill: $primary-dark;
                }
            }
        }
        .elem-anim{
            &.frog-eye{
                background: $primary;
            }
        }
    }
}