@each $theme, $map in $themes{
    $primary: map-get($map, primary);
    $primary-dark: map-get($map, primary-dark);
    $secondary: map-get($map, secondary);

    .#{$theme}{
        background: $primary;
        .wrapper-baseline{
            .rect-visu{
                background: $secondary;
            }
        }
    }
}