// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(77, 77, 77);
$blue: rgb(0, 155, 227);
$blue-flash: rgb(0, 174, 255);


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$elena: 'elena', sans-serif;
$elenaitalic: 'elenaitalic', $elena;
$elenabold: 'elenabold', $elena;
$elenabolditalic: 'elenabolditalic', $elenaitalic;
$gotham: 'Gotham SSm A', 'Gotham SSm B', $elena;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$gutter: 30px;

// Themes
$themes:(
    'cuisiner':(
        primary: #ffa48c, primary-dark: #f88070, secondary: #b9e6bb
    ),
);
