// Variables //


// Colors
$white: #ffffff;
$black: #000000;
$grey: #505052;
$grey-dark: #2c2c2c;
$blue: rgb(0, 155, 227);
$blue-flash: rgb(0, 174, 255);


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$elena: 'elena', sans-serif;
$elenaitalic: 'elenaitalic', $elena;
$elenabold: 'elenabold', $elena;
$elenabolditalic: 'elenabolditalic', $elenaitalic;
$gotham: 'Gotham SSm A', 'Gotham SSm B', $elena;
$carrosserie: 'carrosserie', $gotham;
$carrosseriemedium: 'carrosseriemedium', $carrosserie;
$carrosseriebold: 'carrosseriebold', $carrosseriemedium;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$gutter: 30px;

// Themes
$themes:(
    'cuisiner':(
        primary: #ffa48c, primary-medium: #f88070, primary-dark: #d27b5c, secondary: #b9e6bb, secondary-medium: #addeaf, secondary-dark: #8ea890
    ),
);
