.wrapper-baseline{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 170px 0;
    > .container{
        width: 100%;
    }
    .container-baseline{
        display: flex;
        align-items: center;
        > div{
            width: 50%;
        }
    }
    picture{
        display: block;
    }
    .visu{
        position: relative;
        img{
            position: relative;
            width: 100%;
            max-width: none;
            height: auto;
            pointer-events: none;
        }
    }
    .txt{
        position: relative;
        color: $grey;
    }
    .rect-visu, .wrapper-over-illus{
        position: absolute;
        top: -50px;
        right: -100px;
        bottom: -50px;
        left: -100px;
        transform: rotate(-2deg);
    }
    .wrapper-over-illus{
        pointer-events: none;
        transform: rotate(-2deg) scale(0.97);
        overflow: hidden;
    }
    .content-rect{
        display: block;
        width: 100%;
        height: 100%;
    }
    .wrapper-anim{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
    .wrapper-trigger{
        position: absolute;
        top: -50px;
        right: -100px;
        bottom: -50px;
        left: -100px;
        transform: rotate(-2deg);
        &.no-cursor{
            cursor: none;
        }
        .zone-trigger{
            position: absolute;
            top: 50px;
            right: 100px;
            bottom: 50px;
            left: 100px;
            transform: rotate(2deg);
        }
    }
}
.elem-anim{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &.frog{
        width: 34%;
        margin-top: 11.3%;
        margin-left: 33%;
        background: url('../img/frog.png') no-repeat 0 0;
        background-size: 400% 400%;
        &:before{
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
    &.bubble{
        width: 9%;
        margin-top: -27%;
        margin-left: 6%;
        background: url('../img/bubble.png') no-repeat 0 0;
        background-size: 400% 500%;
        &:before{
            content: '';
            display: block;
            padding-bottom: 100%;
        }
        &.bubble-2{
            margin-top: -26%;
            margin-left: 3%;
        }
        &.bubble-3{
            margin-top: -28%;
            margin-left: -9%;
        }
    }
    &.frog-eye{
        width: 3.2%;
        height: 3.5%;
        margin-top: 4.9%;
        margin-left: 27%;
        border-radius: 50%;
        overflow: hidden;
    }
    &.wrapper-frog-throat{
        width: 2.5%;
        margin-top: 7.5%;
        margin-left: 27.5%;
        transform: translate3d(-50%, -50%, 0) rotate(-32deg);
    }
    &.trigger-fly{
        width: 10%;
        height: 5%;
        margin-top: 2.3%;
        margin-left: 19%;
        transform: translate3d(-50%, -50%, 0) rotate(18deg);
    }
}
.wrapper-bubble{
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.frog-throat{
    display: block;
    width: 100%;
    border-radius: 50%;
    background: #526e61;
    transform-origin: 50% 50%;
    &:before{
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 130%;
    }
}
.fly{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 27px;
    margin: -13px 0 0 -20px;
    background: url('../layoutImg/fly.gif') no-repeat 0 0;
    background-size: 100% auto;
    transform-origin: 50% 50%;
    opacity: 0;
    z-index: 2;
}
.wrapper-frog-pupil{
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    transform: rotate(28deg);
}
.frog-pupil{
    position: absolute;
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background: #515052;
    transform: translate3d(70%, 0, 0);
    transition: transform 0.05s ease-out;
    will-change: transform;
}

@media (max-width: $container){
	.wrapper-baseline{
		.rect-visu, .wrapper-over-illus{
			top: -25px;
            right: -50px;
            bottom: -25px;
            left: -50px;
        }
        .wrapper-trigger{
            top: -25px;
            right: -50px;
            bottom: -25px;
            left: -50px;
            .zone-trigger{
                top: 25px;
                right: 50px;
                bottom: 25px;
                left: 50px;
            }
        }
	}
}
@media (max-width: $desktop-small){
    .wrapper-baseline{
        min-height: 0;
        padding: 170px 0 120px;
        .rect-visu, .wrapper-over-illus{
            top: -30px;
            right: -30px;
            bottom: -30px;
            left: -30px;
        }
        .wrapper-trigger{
            top: -30px;
            right: -30px;
            bottom: -30px;
            left: -30px;
            .zone-trigger{
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
            }
        }
        .container-baseline{
            flex-wrap: wrap;
            > div{
                width: 100%;
                &.visu{
                    width: 90%;
                }
            }
        }
        .visu{
            max-width: 600px;
            margin: 0 auto;
            img{
                display: block;
                width: 100%;
            }
        }
        .txt{
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
        }
    }
    .elem-anim{
        &.frog-eye{
            width: 3.6%;
            height: 4%;
            margin-top: -1.6%;
            margin-left: 32.6%;
        }
        &.wrapper-frog-throat{
            width: 2%;
            margin-top: 0%;
            margin-left: 33%;
        }
        &.frog{
            width: 23%;
            margin-top: 2.8%;
            margin-left: 36.5%;
        }
        &.bubble{
            width: 5%;
            margin-top: -15.8%;
            margin-left: -16.5%;
            &.bubble-2{
                margin-top: -12.8%;
                margin-left: -7.5%;
            }
            &.bubble-3{
                margin-top: -14.8%;
                margin-left: -20.5%;
            }
        }
        &.trigger-fly{
            margin-top: -4%;
            margin-left: 25.5%;
        }
    }
}
@media (max-width: $tablet){
    .wrapper-baseline{
        .rect-visu, .wrapper-over-illus{
            top: -20px;
            right: -10px;
            bottom: -20px;
            left: -10px;
        }
        .wrapper-trigger{
            top: -20px;
            right: -10px;
            bottom: -20px;
            left: -10px;
            .zone-trigger{
                top: 20px;
                right: 10px;
                bottom: 20px;
                left: 10px;
            }
        }
    }
}
