.wrapper-baseline{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 170px 0;
    .container-baseline{
        display: flex;
        align-items: center;
        > div{
            width: 50%;
        }
    }
    .visu{
        position: relative;
        img{
            position: relative;
            width: calc(100% + 15px);
            max-width: none;
            height: auto;
            pointer-events: none;
        }
    }
    .txt{
        position: relative;
        pointer-events: none;
    }
    .rect-visu{
        position: absolute;
        top: -50px;
        right: -100px;
        bottom: -50px;
        left: -100px;
        transform: rotate(-2deg);
    }
    .wrapper-anim{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
}
.elem-anim{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &.frog-eye{
        width: 3.2%;
        height: 3%;
        margin-top: 5.7%;
        margin-left: 29.1%;
        border-radius: 50%;
        overflow: hidden;
    }
}
.wrapper-frog-pupil{
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
    
    transform: rotate(28deg);
}
.frog-pupil{
    position: absolute;
    // top: 4%;
    // bottom: 5%;
    // left: 35%;
    width: 40%;
    height: 100%;
    border-radius: 50%;
    background: #515052;
    //transform: rotate(28deg);
    transform: translate3d(130%, 0, 0);
    transition: transform 0.05s ease-out;
    will-change: transform;
}
