/* Header */

#header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px 0 20px;
	z-index: 5;
	line-height: 1.2;
	.container-header{
        display: flex;
        align-items: flex-start;
		justify-content: space-between;
	}
}

.wrapper-logo{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 $gutter;
}

#logo{
	display: inline-block;
	vertical-align: top;
    @include gotham(1.8rem);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: none;
    color: $white;
    .zone-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 5px;
    }
	strong{
		@include gotham-bold(1em);
	}
	.icon{
		width: 30px;
		height: 30px;
        transition: $transition;
		&.stereo{
			margin-right: 4px;
		}
	}
	span{
		display: inline-block;
		vertical-align: top;
	}
	&:hover, &:focus{
		opacity: 0.7;
	}
	&:active{
		filter: contrast(0);
		opacity: 0.7;
	}
}

.header-right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    &:after, &:before{
        position: absolute;
        top: 12px;
        left: 12px;
        content: '';
        display: block;
        width:  75px;
        height: 1px;
        background-color: white;
        transform-origin: 37.5px 1px;
    }
    &.alone{
        &:before, &:after{
            content: none;
        }
    }
    &:before{
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
    }
    .middle{
        width: 100px;
        margin : 0 0 10px;
        display: flex;
        justify-content: space-between;
    }
    .disable{
        color: white;
        cursor: not-allowed;
        .icon{
            opacity: 0.4;
        }
    }
	.icon{
		&.icon-frog{
			width: 28px;
			height: 20px;
        }
        &.icon-hearts{
			width: 24px;
			height: 27px;
        }
        &.icon-shirt{
			width: 25px;
			height: 26px;
		}
	}
}

@media (max-width: $phone){
    #header{
        padding: 20px 0 20px;
    }
    #logo{
        font-size: 1.4rem;
        .icon{
            width: 25px;
            height: 25px;
        }
    }
    .header-right{
        &:after, &:before{
            left: 2px;
        }
        .middle{
            margin : 0 0 5px;
            width: 80px;
        }
        .icon{
            &.icon-frog{
                width: 23px;
                height: 16px;
            }
            &.icon-hearts{
                width: 24px;
                height: 22px;
            }
            &.icon-shirt{
                width: 21px;
                height: 26px;
            }
        }
    }
}