/* Header */

#header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px 0 20px;
	z-index: 2;
	line-height: 1.2;
	.container-header{
        display: flex;
        align-items: center;
		justify-content: space-between;
	}
}

.wrapper-logo{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 $gutter;
}

#logo{
	display: inline-block;
	vertical-align: top;
    @include gotham(1.8rem);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: none;
    color: $white;
    .zone-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 5px;
    }
	strong{
		@include gotham-bold(1em);
	}
	.icon{
		width: 30px;
		height: 30px;
        transition: $transition;
		&.stereo{
			margin-right: 4px;
		}
	}
	span{
		display: inline-block;
		vertical-align: top;
	}
	&:hover, &:focus{
		opacity: 0.7;
	}
	&:active{
		filter: contrast(0);
		opacity: 0.7;
	}
}

.header-right{
	.icon{
		&.icon-frog{
			width: 28px;
			height: 20px;
		}
	}
}
