.lateral{
    position: fixed;
    bottom: 0;
    width: 100vh;
    font-family: $carrosserie;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    &.left{
        left: 25px;
        transform-origin: 0 50%;
        transform: rotate(-90deg);
    }
    &.right{
        right: 25px;
        transform-origin: 100% 50%;
        transform: rotate(90deg);
    }
    a{
        font-family: $carrosserie;
    }
}
.hashtag{
    text-decoration: none;
    > span{
        color: $white;
        transition: $transition;
    }
}
.lang{
    letter-spacing: 2px;
    .non-active{
        color: $white;
    }
    a{
        text-decoration: none;
    }
}
