.recipe{
    position: relative;
    height: 800px;
}

.sheet{
    position: absolute;
}


.cover-title{
    position: relative;
    margin: 25px 0 0;
    font-family: $carrosseriebold;
    display: block;
    font-size: 12.7rem;
    line-height: 1;
    width: 150px;
    .icon{
        width: 60px;
        height: 0.4em;
        margin-left: -30px;
    }
    > span{
        &:first-child{
            letter-spacing: 3.9px;
        }
        &:nth-child(2){
            letter-spacing: 7.9px;
        }
        &:nth-child(3){
            letter-spacing: 15.7px;
        }
        &:nth-child(4){
            letter-spacing: 8px;
        }
    }
}

.cover{
    padding: 45px;
    background: $grey;
}

.cover-text{
    position: absolute;
    left: 45px;
    right: 45px;
    text-align: center;
    position: absolute;
    top: -3px;
    font-family: $elena;
    margin: 0;
    line-height: 7;
}