.recipe{
    position: relative;
    height: 800px;
}

.sheet{
    position: absolute;
}


.recipe-title{
    margin: 25px 0 0;
    font-family: $carrosseriebold;
    display: block;
    font-size: 12.7rem;
    word-break: break-all;
    letter-spacing: 8px;
    line-height: 1;
    width: 150px;
}

.cover{
    padding: 45px;
    background: $grey;
}

.cover-text{
    position: absolute;
    left: 45px;
    right: 45px;
    text-align: center;
    position: absolute;
    top: -3px;
    font-family: $elena;
    margin: 0;
    line-height: 7;
}