.recipe{
    position: relative;
    height: 800px;
}

.sheet{
    position: absolute;
}


.cover-title{
    position: relative;
    margin: 25px 0 0;
    font-family: $carrosseriebold;
    display: block;
    font-size: 12.7rem;
    line-height: 1;
    width: 150px;
    .icon{
        width: 60px;
        height: 0.4em;
        margin-left: -30px;
    }
    > span{
        &:first-child{
            letter-spacing: 3.9px;
        }
        &:nth-child(2){
            letter-spacing: 7.9px;
        }
        &:nth-child(3){
            letter-spacing: 15.7px;
        }
        &:nth-child(4){
            letter-spacing: 8px;
        }
    }
}

.cover{
    padding: 45px;
    background: $grey;
    transform: rotate(-2deg);
    z-index: 4;
}

.cover-text{
    position: absolute;
    left: 45px;
    right: 45px;
    text-align: center;
    position: absolute;
    top: -3px;
    font-family: $elena;
    margin: 0;
    line-height: 7;
}

.wrapper-ingredients{
    transform: rotate(-0.5deg);
    z-index: 3;
    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 17px;
        width: 7px;
        background-color: white;
    }
    &:after{
        right: 0;
        left: auto;
    }
    .papercut{
        position: absolute;
        top: 0;
        left: 6px;
        right: 6px;
        height: 17px;
        background-color: white;
        mask: url(/img/papercut-unit.svg);
    }
}

.ingredients{
    width: 552px;
    margin: 16px 0 0;
    background-color: white;
    padding: 50px 25px 15px;
}

.ingredients-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px;
    color: #466e5c;
    font-family: $carrosseriebold;
    h3{
        display: flex;
        align-items: center;
        margin: 0;
        font-family: $carrosseriebold;
        font-size: 3.8rem;
        letter-spacing: 5px;
    }
    .town{
        position: relative;
        font-size: 1.1rem;
        letter-spacing: 0.8px;
        &:after{
            content: "";
            position: absolute;
            top: 5px;
            display: block;
            height: 2px;
            width: 30px;
            background: currentColor;
            left: -50px;
        }
        &:first-child{
            &:after{
                right: -50px;
                left: auto;
            }
        }
    }
}

.ingredient{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-style: solid ;
    border-color: salmon ;
    border-image: url(../img/border.svg) 4 / 4px stretch;
    h4{
        font-family: $carrosseriebold;
        font-size: 2rem;
        margin: 0;
    }
    p{
        margin: 0;
    }
}

.ingredient-wrapper-img{
    width: 100%;
    height: 150px;
}

.mode-op{
    width: 830px;
    padding: 50px 0 20px;
    transform: rotate(1deg);
    z-index: 2;
    h3{
        position: relative;
        text-align: center;
        font-family: $carrosseriebold;
        font-size: 7.7rem;
        letter-spacing: 12px;
        margin: -35px 0 0;
        z-index: -1;
    }
}

.meo{
    display: flex;
    padding: 0 95px;
    > div {
        margin: 0 15px;
    }
    p{
        margin: 25px 0 0;
        font-size: 1.6rem;
        color: #0f4542;
    }
}

.meo-title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 10px 0 0;
    color: white;
    font-family: $carrosseriemedium;
    font-size: 2rem;
    font-weight: normal;
    &:after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 2px;
        background-color: currentColor;
    }
    .icon-world{
        height: 26px;
        width: 24px;
    }
    .icon-pingpong{
        height: 26px;
        width: 32px;
    }
    .icon-monkey{
        height: 26px;
        width: 24px;
    }
}

.voila{
    width: 880px;
    transform: rotate(-1deg);
    p{
        margin: 0;
        color: #2c2c2c;
    }
}

.big-voila{
    font-family: $carrosseriebold;
    font-size: 9.6rem;
    color: #505052;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 7.4px;
}

.honey, .ready{
    position: absolute;
    font-size: 1.5rem;
    top: 33%;
    left: 27%;
    font-family: $carrosserie;
    letter-spacing: 1.4px;
    color: $white;
}

.ready{
    right: 22%;
    left: auto;
}

.et-voila{
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.voila-body{
    display: flex;
    h4{
        font-family: $carrosserie;
        font-size: 2.3rem;
        letter-spacing: 2.2px;
        margin: 0;
        color: $white;
        line-height: 1;
        font-weight: normal;
    }
    .responses{
        padding: 100px 0;
    }
    .response{
        position: relative;
        padding: 0 0 0 80px;
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 7px;
            left: 0px;
            height: 1px;
            width: 60px;
            background-color: $white;
        }
        &:first-child{
            margin: 0 0 70px;
        }
    }
}

.voila-footer{
    padding: 45px 80px;
    font-size: 1.4rem;
    line-height: 1.7;
    a{
        font-family: $elena;
        color: #2c2c2c;
        text-decoration-skip: ink;
    }
}